<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
</head>
<body>
<table>
    <tr>
        <td id="right_pane">
            <table>
                <tr id="search">
                    <td colspan="3">
                        <input type="search" name="search_employee" placeholder="search employee">
                        <input type="button" name="search_btn" value="search">
                        <a href="{% url 'staff-profile:index' %}" style="float: right;margin-right:15px">Logout</a>
                    </td>
                </tr>
                <tr>
                    <td id="e_stats" colspan="3">
                        <ul>
                            <li><label><b>Employees</b></label></li>
                            {% for employee in all_employees %}
                            <li>
                                <h5 id="emp_title">{{ employee.first_name }} {{ employee.last_name }}</h5>
                                <div id="emp_info">
                                    <label>Gender: {{ employee.gender }}</label><br>
                                    <label>Age: {{ employee.age }}</label><br>
                                    <label>Race: {{ employee.race }}</label><br>
                                    <label>Position: {{ employee.name }}</label><br>
                                    <label>Level: {{ employee.level }}</label><br>
                                    <label>Years Worked: {{ employee.years_worked }}</label><br>
                                    <label>Birth Date: {{ employee.birth_date }}</label><br>
                                    <label>Phone number: {{ employee.phone_number }}</label><br>
                                    <label>Email: {{ employee.email }}</label><br>
                                </div>

                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
