<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
</head>
<body>
<table>
    <tr>
        <td id="right_pane">
            <table>
                <tr id="search">
                    <td colspan="3">
                        <h3>Employees Stats</h3>
                    </td>
                </tr>
                <tr>
                    <td id="e_stats" colspan="3">
                        <ul>
                            <li><label><b></b></label></li>
                            <li>
                                Number of Employees: {{ no_of_employees }}
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td  class="o_stats">
                         <ul>
                            <li><label><b>Position Count:</b></label></li>
                            <li>
                                Back-End Developer: {{ backend }}
                            </li>
                            <li>
                                Front-End Developer: {{ frontend }}
                            </li>
                             <li>
                                Project Manager: {{ projectmanager }}
                            </li>
                        </ul>
                    </td>
                    <td  class="o_stats" >
                         <ul>
                             <li><label><b>Gender Count:</b></label></li>
                            <li>
                                <ul>
                                    <li>Male: {{ gender_male }}</li>
                                    <li>Female: {{ gender_female }}</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td  class="r_stats" >
                         <ul>
                             <li><label><b>Race Count:</b></label></li>
                            <li>
                                <ul>
                                    <li>Black African: {{ race_B }}</li>
                                    <li>White: {{ race_W }}</li>
                                    <li>Coloured: {{ race_C }}</li>
                                    <li>Indian/Asian: {{ race_I }}</li>
                                    <li>None Dominant: {{ race_N }}</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
