table {
    width: 100%;
    height: 100%;
}

#left_pane {
     background-color: gray;
     border-radius: 5px 0px 0px 5px;
     width: 20%;
}

#right_pane {
     background-color: lightgray;
     border-radius: 0px 5px 5px 0px;
     width: 70%";
}

#search {
    text-align: center;
}
#e_stats {
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.o_stats {
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

select {
    margin-left: 25px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    text-align: center;
}